.home {
  text-align: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.links--width {
  margin: 1%;
}

.link--text {
  font-weight: bold;
  text-align: center;
}

.text-styles {
  font-size: small;
  color: #37474F;
  text-align: center;

}