.home {
  text-align: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.links--width {
  margin: 1%;
}

.link--text {
  font-weight: bold;
  text-align: center;
}

.text-styles {
  font-size: small;
  color: #37474F;
  text-align: center;

}

.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  min-height: 80px;
  margin-bottom: 0px !important;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
  margin-bottom: 0px;

}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
  margin-bottom: 0px;

}

ul {
  width: 20%;
  margin: auto;
  font-size: 20px;
}

.myInformation {
  text-align: center;
  font-family: arapey, sans-serif;
  margin: 0px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}